body {
  background-image: url("bg.jpg");
    }

.form-wrap{
  width: 320px; background: #001642; padding: 40px 20px; box-sizing: border-box;
  position: fixed; left: 73%; top: 50%; transform: translate(-50%, -50%);
  opacity: 0.9; filter: alfa(opacity=0.9);
  border-radius: 50px/45px;
}
h1{
  text-align: center; color:#fff; font-weight: normal;
  -webkit-text-stroke: 0.2px black;
  margin-bottom: 40px;
  }
input{
  color: #fff;
  width: 100%; background: none; border: 1px solid #fff; border-radius: 3px; padding: 6px 20px;
  box-sizing: border-box; margin-bottom: 20px;
  font-size: 20px;
}

input[type="submit"]{
  background: #001642; border:1 ; cursor: pointer; color: #fff;  width: 150px;
    position:relative;
    left: 23%;
    display: inline-block;
}
input[type="submit"]:hover{
background: #3377ff; transition: .3s;
}
input[type="contact"]{
  background: #001642; border:1 ; cursor: pointer; color: #fff; width: 150px;
    position:relative;
    left: 23%;
}
input[type="contact"]:hover{
background: #3377ff; transition: .3s;
}
::placeholder{
color: #fff;
}
#imgUs{
  border-radius: 50%;
  height: 230px;
  width: 230px;
}
#icons{
  height: 70px;
  width: 70px;
  margin-left: 20px;
  margin-right: 20px;
}
